#titulo{
	font-family: Century Gothic;
	background: #5769B8;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	color: white;
	margin-top: 0;
}

h2{
	font-family: Century Gothic;
	background: #5769B8;
	text-align: center;
	padding: 15px;
	margin-top: 0;
	color: white;
}

h4{
	font-family: Century Gothic;
	background: #5769B8;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em!important;
	padding: 15px;
	color: white;
	margin-top: 0;
}

h3{
	font-family: Century Gothic;
	font-size: 1.2em!important;
	text-align: center;
	color: white;
	margin-top: 0;
}

#telaInicial, #telaJogo, #telaFinal{
	border-radius: 4px;
	margin-right: auto;
	margin-left: auto;
	display: none;
	height: 45em;
	width: 70%;
}

#telaInicial{
	background: #00BFFF;
	display: block;
}

#jogar{
	padding: 20px;
	width: 10%;
	background-color: #5769B8;
	border-radius: 50%;
	cursor: pointer;
}

#play{
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#componentesIniciais{
	margin-top: 10%;
	margin-bottom: 10%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

.crianca{
	width: 20%;
    height: 25%;
}

#telaJogo{
	display: none;
	background-color: white;
}

#arquivosImagens{
	height: 90%;
    display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

#imagens{
	width: 49.5%;
    height: 100%;
    background: #00BFFF;
    float: left;
    border-radius: 4px;
    text-align: center;
}

.imagem{
    width: 25%;
    height: 15%;
    display: flex;
	border-radius: 4px;
	position: relative;
	background: white;
	border: 3px solid transparent;
	padding: 5px;
}

.imagem:hover, .imagem:focus{
	border: 3px solid #5769B8;
	cursor: pointer;
}

#textos{
	float: right;
	width: 50%;
	height: 100%;
    background: #00BFFF;
    border-radius: 4px;
    text-align: center;
}

#paragrafos{
	height: 90%;
    display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

p{
	margin: 0;
	width: 80%;
	text-align: center;
	background: white;
	font-family: Century Gothic;
	padding: 10px;
	border: 3px solid transparent;
	border-radius: 4px;
}

p:hover, p:focus{
	border: 3px #5769B8 solid;
	cursor: pointer;
}

#telaFinal{
	background: #00BFFF;
	display: none;
}

#conteudoFinal{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
    display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

#reiniciar{
	padding: 20px;
	width: 20%;
	background-color: #5769B8;
	border-radius: 50%;
	cursor: pointer;
	margin: 10px auto;
}

#pikachu{
	width: 70%;
	display: block;
	margin: 20px auto;
}
