@import "page-template-grid.css";

.menu__contraste
{
  grid-area:contraste;
}

.cabecalho
{
  grid-area:cabecalho;
}

#conteudo
{
  grid-area:conteudo;
}

.rodape
{
  grid-area:rodape;
}

#navegacao
{
  grid-area:navegacao;
}

.conteiner
{
  margin: 0 auto;
  width: 90%;
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
      grid-template-areas:
    " contraste "
    " cabecalho "
    " navegacao "
    " conteudo "
    " rodape ";
}

/* ============================================================================= TELA PEQUENA */
@media only screen and (max-width:519px)
{
  .conteiner
  {
      -ms-grid-rows: 18em 10em 6em auto 4em;
          grid-template-rows: 18em 10em 6em auto 4em;
  }
}

/* ============================================================================= TELA MEDIA */
@media only screen and (min-width:520px)
{
  .conteiner
  {
      -ms-grid-rows: 8em 10em 6em auto 4em;
          grid-template-rows: 8em 10em 6em auto 4em;
  }
}


/* ============================================================================ TELA GRANDE*/
@media only screen and (min-width:800px)
{
  .conteiner
  {
      -ms-grid-rows: 6em 10em 6em auto 4em;
          grid-template-rows: 6em 10em 6em auto 4em;
  }
}

/* ============================================================================ TELA MUITO GRANDE*/
@media only screen and (min-width:1130px)
{
  .conteiner
  {
      -ms-grid-rows: 4em 9em 6em auto 4em;
          grid-template-rows: 4em 9em 6em auto 4em;
  }
}
