/* ============================================================================= CONFIGURAÇÕES GERAIS */
.conteudo video
{
    width: 100%;
    height: auto;
}

.icones
{
    border-radius: 50%;
}

#bloco-partes-corpo
{
    height: auto;
    min-height: 600px;
    margin-left: 4em;
}

#conteudo
{
    height: auto;
    min-height: 450px;
}

.icone--pequeno
{
  width: 7em;
  height: 7em;
  float:left;
  margin-right: 1em;
}

.botao__audio
{
  border-radius: 50%;
  background-size: 100%;
  background-image: url("../imagens/icones/SOM_BRANCO.png");
  background-repeat: no-repeat;
  width: 14em;
  height: 14em;
}

.descricao
{
  text-align: justify;
}

.partes-do-corpo
{
  width: 100%;
  margin-top: 8em;
  align-self: baseline;
}

#bloco-partes-corpo
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

#logotipo
{
  position: relative;
  bottom: 0;
  float: right;
}

.painel
{
    margin: 2em auto;
    display: -ms-grid;
    display: grid;
    width: 90%;
    grid-gap: 4em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.menu__contraste
{
  width: 100%;
  margin: 1em auto;
  float: right;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-area:contraste;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0 0 auto;
      -ms-flex-positive: 0 0 auto;
          flex-grow: 0 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.botao__contraste
{
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  border-radius: 2em;
  margin: 10px;
}

.cabecalho
{
  clear: left;
  grid-area:cabecalho;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}

.menu__contraste
{
  grid-area: contraste;
}

#conteudo
{
  grid-area:conteudo;
}

.rodape
{
  grid-area:rodape;
  width: auto;
}

#linkVoltar
{
  font-size: 2em;
  padding: 1em;
}

#tituloTeste
{
    position:absolute;
    left: 300px;
}

/* ============================================================================= TELA PEQUENA */
@media only screen and (max-width:519px)
{
  .painel
  {
      min-width: 320px;
      -ms-grid-columns: 90%;
          grid-template-columns: 90%;
      -ms-grid-rows: 5em 8em auto 3em;
          grid-template-rows: 5em 8em auto 3em;
                      grid-template-areas:
        " contraste "
        " cabecalho "
        " conteudo "
        " rodape ";
  }

  .botao__contraste
  {
    min-width: 120px;
    height: 2.5em;
  }

  #logotipo
  {
    width: 15em;
    height: 5em;
    top: -1.5em;
  }

  #tituloDoMenu
  {
    margin: 0.5em;
    font-size: 1.5em;
  }

  .icone--pequeno
  {
    width: 4em;
    height: 4em;
    float:left;
    margin-right: 1em;
  }

  .titulo
  {
    font-size: 4em;
  }

  .subtitulo
  {
    font-size: 2em;
  }

  .conteudo
  {
    min-height: 20em;
  }

}

/* ============================================================================= TELA MEDIA */
@media only screen and (min-width:520px)
{
  .painel
  {
      min-width: 520px;
      -ms-grid-columns: 90%;
          grid-template-columns: 90%;
      -ms-grid-rows: 6em 12em auto 3em;
          grid-template-rows: 6em 12em auto 3em;
                      grid-template-areas:
        " contraste "
        " cabecalho "
        " conteudo "
        " rodape ";
  }


  .botao__contraste
  {
    min-width: 80px;
    height: 4em;
  }

  #logotipo
  {
    width: 18em;
    height: 7em;
    top:-1.5em;
  }

  #tituloDoMenu
  {
    margin: 0.5em;
    font-size: 2em;
  }

  .titulo
  {
    font-size: 6em;
  }

  .subtitulo
  {
    font-size: 4em;
  }

  .conteudo
  {
    min-height: 20em;
  }
}


/* ============================================================================ TELA GRANDE*/
@media only screen and (min-width:800px)
{
  .painel
  {
      min-width: 800px;
      -ms-grid-columns: 90%;
          grid-template-columns:90%;
      -ms-grid-rows: 5em 15em auto 3em;
          grid-template-rows: 5em 15em auto 3em;
                      grid-template-areas:
        " contraste contraste"
        " cabecalho cabecalho "
        " conteudo conteudo "
        " rodape rodape ";
  }

  .botao__contraste
  {
    min-width: 80px;
    height: 4em;
  }

  .cabecalho
  {
    -ms-grid-row:2;
    -ms-grid-column:1;
  }

  #logotipo
  {
    width: 30em;
    height: 9em;
    top: -2em;
  }

  #tituloDoMenu
  {
    margin: 0.5em;
    font-size: 3em;
  }

  .titulo
  {
    font-size: 8em;
  }

  .subtitulo
  {
    font-size: 6em;
  }

  .conteudo
  {
    min-height: 20em;
  }
}

/* ============================================================================ TELA MUITO GRANDE*/
@media only screen and (min-width:1130px)
{
  .painel
  {
      margin: 0 auto;
      min-width: 1130px;
      -ms-grid-columns: 90%;
          grid-template-columns: 90%;
      -ms-grid-rows: 2em 10em auto 3em;
          grid-template-rows: 2em 10em auto 3em;
                      grid-template-areas:
        " contraste "
        " cabecalho "
        " conteudo "
        " rodape ";
  }

  .botao__contraste
  {
    min-width: 20px;
    height: 2em;
  }

  #logotipo
  {
    width: 30em;
    height: 9em;
    top:-7em;
  }

  #tituloDoMenu
  {
    margin: 0.5em;
    font-size: 3em;
  }

  .titulo
  {
    font-size: 12em;
  }

  .subtitulo
  {
    font-size: 8em;
  }

  .conteudo
  {
    min-height: 20em;
  }
}
