/* =============================================================== TEXTOS */
.titulo
{
  font-size: 1.5em;
  font-weight: bold;
  color:black;
}

.subtitulo
{
  font-size: 1em;
  color:black;
}

.descricao
{
  color:black;
}

#linkVoltar
{
  color:white;
}

/* =============================================================== BOTOES */
.botao__contraste
{
  border: solid 1px black;
}
#botaoBranco
{
    background-color: white;
    color:black;
}

#botaoPreto
{
    background-color: black;
    color:white;
}

#botaoAzul
{
    background-color: blue;
    color:white;
}

#botaoAmarelo
{
    background-color: yellow;
    color:black;
}

/* =============================================================== BLOCOS */
body
{
  background-color: white;
}

.painel
{
  background-color: white;
}

.cabecalho
{
  background-color: black;
  color:white;
  -webkit-box-shadow: -10px -10px #222;
          box-shadow: -10px -10px #222;
}

.rodape
{
  background-color: black;
  color:white;
}
